<p-toolbar styleClass="bg-gray-300">

  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-home"
    label="Dashboard"
    routerLink="/dashboard"
    styleClass="bg-orange-300 p-button-secondary"
    routerLinkActive="exact_route"></p-button>
  </div>

<div class="p-toolbar-group-center">
  <p-button
  label="Produtos"
  icon="pi pi-shopping-cart"
  routerLink="/products"
  styleClass="bg-orange-400 p-button-secondary"
  routerLinkActive="exact_route"
  class="mr-2"
  ></p-button>

   <p-button
  label="Categorias"
  icon="pi pi-ticket"
  routerLink="/categories"
  styleClass="bg-orange-400 p-button-secondary"
  routerLinkActive="exact_route"
  class="mr-2"
  ></p-button>
<!--AQUIIIIII-->
  <p-button
  label="Efetuar Venda"
  icon="pi pi-credit-card"
  styleClass="bg-orange-400 p-button-secondary"
  routerLink="/products"
  class="mr-2"
  (onClick)="handleSaleProduct()"
  ></p-button>

</div>

<div class="p-toolbar-group-end">
  <p-button
  icon="pi pi-sign-out"
  label="Sair"
  styleClass="p-button-danger"
  (onClick)="handleLogout()"
  ></p-button>
  </div>

</p-toolbar>
